.h2 {
    margin-top: 80px;
    text-align: center;
}

.p {
    margin-left: 1rem;
}

.ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 2.4rem;
}
.ul li {
    padding: 0.7rem;
}

@media (max-width: 40rem) {
    .ul {
        display: block;
        margin: 1rem auto;
    }
}